{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">How it works</h1>
                </div>
            </div>
            <div class="row mb-4 justify-content-center">
                <div class="col-12 col-md-7">
                    <p>
                        Who doesn't want to have there own Home Sweet Home?<br>
                        Everybody offcourse, but where to look?<br>
                        We've got the answer for you, Sweet Home!<br>
                        <br>
                        On this website you can find sweet Homes in Boxtel, Den Bosch, Drunen, Heeswijk-Dinter, Liempde, Oss and Rosmalen.<br>
                        There is a perfect home for everybody!<br>
                        But how does it work?<br>
                        <br>
                        If you click on "Houses" in the menu, you will land on the Houses page.<br>
                        On this page you can see all the available houses and if wanted you can set a filter for easy searching.<br>
                        You can see a photo of the front of the house, the address and the price, but also the closing date.<br>
                        The closing date tells you until what day it is possible to subscribe to the house when interested.<br>
                        After this closing date there will be a lottery to decide who will get the first change to come and view the house.<br>
                        That person will then have the change to take the house, otherwise the next in line will get the opportunity, etc.<br>
                        <br>
                        Ok, so what if you want to subscribe to a house that you like?<br>
                        First you will have to log in, or subscribe to the page.
                        Then we will ask you to provide us with your personal details on the profile page.<br>
                        When that's done, a button will be available to buy a one year subscription for €25.<br>
                        After this payment you can click on a house, where you will find more photo's, information and you will see a subscription button has become available.<br>
                        When you've used the subscribe button you can always unsubscribe in the same place.<br>
                        Also, after subscribing you will land on your profile page, where you can now find your subscription.<br>
                        The subscriptions will be viewed here until the closing date has gone by.<br>
                        In this place you can also unsubscribe, or link back to the houses info page.<br>
                        <br>
                        In case something is still unclear you can allways use the contact page to get in touch with us.<br>
                        But, if everything ís clear, then we wish you the best of luck in finding your own Home Sweet Home!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}