{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9">
                <h1 class="display-5 search-now-text">
                    Find your own home sweet home!
                </h1>
                <div>
                    <h4>
                        <a href="{% url 'houses' %}" class="search-now-button btn rounded-0 text-uppercase py-3">search now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}