{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="display-4 search-now-text">
                    Find your own home sweet home!
                </h1>
                <div class="my-5">
                    <h4>
                        <a class="search-now-button btn btn-lg rounded-0 text-uppercase py-3">search now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}