{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">My Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 {% if show != 'Form' %} d-none {% endif %}">
                    <h5 class="text-center page-subtitle mb-4">Personal information</h5>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn update-info-btn rounded-0">Update information</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6 mb-4 {% if show != 'Info' %} d-none {% endif %}">
                    <h5 class="text-center page-subtitle mb-4">Personal information</h5>
                    <p>
                        <strong>Initials: </strong>{{ profile.initials }}<br>
                        <strong>First name: </strong>{{ profile.first_name }}<br>
                        <strong>Last name: </strong>{{ profile.last_name }}<br>
                        <strong>Gender: </strong>{{ profile.gender }}<br>
                        <strong>Date of birth: </strong>{{ profile.date_of_birth }}<br>
                        <strong>Address: </strong>{{ profile.address }}<br>
                        <strong>Postal code: </strong>{{ profile.postcode }}<br>
                        <strong>City: </strong>{{ profile.city }}<br>
                        <strong>Country: </strong>{{ profile.country }}<br>
                        <strong>Email: </strong>{{ profile.email }}<br>
                        <strong>Phone number: </strong>{{ profile.phone_number }}
                    </p>
                    <form action="{% url 'profile' %}" method="GET" class="d-inline-flex float-right">
                        {% csrf_token %}
                        <button class="btn update-info-btn rounded-0" id="profile-update" name="profile-update">Adjust information</button>
                    </form>
                    <form action="{% url 'payment' %}" method="GET" class="d-inline-flex float-right mr-2">
                        {% csrf_token %}
                        <button class="btn payment-btn rounded-0" id="payment" name="payment">Make payment</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6 mb-4">
                    <h5 class="text-center page-subtitle mb-4">House subscriptions</h5>
                    {% for subscription in subscriptions %}
                        <div class="card rounded-0 mb-3">
                            <div class="row no-gutters">
                                <div class="col-0 col-lg-4">
                                    {% if subscription.house.photo_1 %}
                                        <a href="{% url 'house_info' subscription.house.id %}">
                                            <img class="card-img card-prof h-100 rounded-0" src="{{ subscription.house.photo_1.url }}" alt="{{ subscription.house.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'house_info' subscription.house.id %}">
                                            <img class="card-img card-prof h-100 rounded-0" src="{{ MEDIA_URL }}no_photo.jpg" alt="{{ subscription.house.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-lg-8">
                                    <a href="{% url 'house_info' subscription.house.id %}" class="d-flex house-link">
                                        <div class="card-body">
                                            <h5><strong>{{ subscription.house.address }}, {{ subscription.house.city }}</strong></h5>
                                            <p>
                                                Price: € {{ subscription.house.price }}<br>
                                                Closing date: {{ subscription.house.end_date }}
                                            </p>
                                        </div>
                                    </a>
                                    <div class="card-footer p-0">
                                        <form class="form" action="{% url 'delete_subscription' subscription.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn unsubscribe-btn form-control rounded-0">Unsubscribe</button>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}