{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %} - Profile{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">My Profile</h1>
                </div>
            </div>
            <div class="row">
                <!-- A place for the user to fill in it's personal information -->
                <div class="col-12 col-lg-6 mb-4 {% if show != 'Form' %} d-none {% endif %}">
                    <h5 class="text-center page-subtitle mb-4">Personal information</h5>
                    <p>
                        Thank you for registering to this page.<br>
                        In order to subscribe to a house we need you to fill in the details below.
                        After that you can buy a one year subscription to subscribe to the houses you like.
                    </p>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn update-info-btn rounded-0">Update information</button>
                    </form>
                </div>
                <!-- When the user has filled in the personal information it will be displayed here with a button to be able to update the personal information -->
                <div class="col-12 col-lg-6 mb-4 {% if show != 'Info' %} d-none {% endif %}">
                    <h5 class="text-center page-subtitle mb-4">Personal information</h5>
                    <p>
                        Please check if the personal info that's known to us is correct<br>
                        In case you would like to change any information, you can use the "Adjust information" button on the bottom of this page.<br>
                        <br>
                        <strong>Initials: </strong>{{ profile.initials }}<br>
                        <strong>First name: </strong>{{ profile.first_name }}<br>
                        <strong>Last name: </strong>{{ profile.last_name }}<br>
                        <strong>Gender: </strong>{{ profile.gender }}<br>
                        <strong>Date of birth: </strong>{{ profile.date_of_birth }}<br>
                        <strong>Address: </strong>{{ profile.address }}<br>
                        <strong>Postal code: </strong>{{ profile.postcode }}<br>
                        <strong>City: </strong>{{ profile.city }}<br>
                        <strong>Country: </strong>{{ profile.country }}<br>
                        <strong>Email: </strong>{{ profile.email }}<br>
                        <strong>Phone number: </strong>{{ profile.phone_number }}<br>
                        <br>
                        If all the information is correct and you would like to subscribe to one of the houses, you will need a one year subscription.
                        If you don't have an active subscription, you can buy one by using the "Make payment" button below.
                    </p>
                    <form action="{% url 'profile' %}" method="GET" class="d-inline-flex float-right">
                        {% csrf_token %}
                        <button class="btn update-info-btn rounded-0" id="profile-update" name="profile-update">Adjust information</button>
                    </form>
                    <form action="{% url 'payment' %}" method="GET" class="d-inline-flex float-right mr-2">
                        {% csrf_token %}
                        <button class="btn payment-btn rounded-0" id="payment" name="payment">Make payment</button>
                    </form>
                </div>
                <!-- A display of the users subscriptions with a option to unsubcribe -->
                <div class="col-12 col-lg-6 mb-4">
                    <h5 class="text-center page-subtitle mb-4">House subscriptions</h5>
                    {% for subscription in subscriptions %}
                        <div class="card rounded-0 mb-3">
                            <div class="row no-gutters">
                                <div class="col-0 col-lg-4">
                                    {% if subscription.house.photo_1 %}
                                        <a href="{% url 'house_info' subscription.house.id %}">
                                            <img class="card-img card-prof h-100 rounded-0" src="{{ subscription.house.photo_1.url }}" alt="{{ subscription.house.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'house_info' subscription.house.id %}">
                                            <img class="card-img card-prof h-100 rounded-0" src="{{ MEDIA_URL }}no_photo.jpg" alt="{{ subscription.house.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-lg-8">
                                    <a href="{% url 'house_info' subscription.house.id %}" class="d-flex house-link">
                                        <div class="card-body">
                                            <h5><strong>{{ subscription.house.address }}, {{ subscription.house.city }}</strong></h5>
                                            <p>
                                                Price: € {{ subscription.house.price }}<br>
                                                Closing date: {{ subscription.house.end_date }}
                                            </p>
                                        </div>
                                    </a>
                                    <div class="card-footer p-0">
                                        <form class="form" action="{% url 'delete_subscription' subscription.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn unsubscribe-btn form-control rounded-0">Unsubscribe</button>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}