{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">Product Management</h1>
                    <h5 class="text-center page-subtitle">Edit a house</h5>
                </div>
            </div>
            <div class="row mb-4 justify-content-center">
                <div class="col-12 col-md-7">
                    <form method="POST" action="{% url 'edit_house' house.id %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-right">
                            <a class="btn cancel-btn rounded-0" href="{% url 'houses' %}">Cancel</a>
                            <button class="btn update-btn rounded-0" type="submit">Update House</button>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}