{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <nav class="houses-header">
        <ul class="houses-navbar-nav">
            <li class="houses-nav-item dropdown">
                <a href="#" class="houses-nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </a>
                <div class="dropdown-menu rounded-0" aria-labelledby="filter-menu">
                    <form class="dropdown-item" method="GET" action="{% url 'houses' %}">
                        <label for="cities">Choose a city:</label>
                        <select id="cities" name="city_name">
                            <option value="all_cities">All cities</option>
                            {% for city in cities %}
                                <option value="{{ city.name }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="min-price">Price between:</label>
                        <input type="number" id="min-price" name="min-price">
                        <label for="max-price">and</label>
                        <input type="number" id="max-price" name="max-price">
                        <br>
                        <label for="types">Choose a type:</label>
                        <select id="types" name="type_name">
                            <option value="all_types">All types</option>
                            {% for type in types %}
                                <option value="{{ type.name }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="amount">Minimum amount of bedrooms:</label>
                        <select id="amount" name="amount">
                            <option value="all_amounts">All amounts</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4+</option>
                        </select>
                        <br>
                        <button type="submit">Filter</button>
                    </form>                
                </div>
            </li>
            <li class="houses-nav-item dropdown">
                <a href="#" class="houses-nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </a>
            </li>
            <li class="houses-nav-item">
                <a href="{% url 'houses' %}" class="houses-nav-link">
                    Clear
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container container-houses">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">Available houses</h1>
                </div>
            </div>
            <div class="row">
                {% for house in houses reversed %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
                        <a href="{% url 'house_info' house.id %}" class="d-flex house-link">
                            <div class="card rounded-0 mb-4">
                                {% if house.photo_1 %}
                                    <img class="card-img-top img-fluid rounded-0" src="{{ house.photo_1.url }}" alt="{{ house.name }}">
                                {% else %}
                                    <img class="card-img-top img-fluid rounded-0" src="{{ MEDIA_URL }}no_photo.jpg" alt="{{ house.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5><strong>{{ house.address }},</strong></h5>
                                    <h5><strong>{{ house.city }}</strong></h5>
                                    <p>Closing date: {{ house.end_date }}</p>
                                </div>
                                <div class="card-footer rounded-0 text-center">
                                    <h6>€{{ house.price }} per month</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}