{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'houses/css/house.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"> 
        var address = "{{ house.address }}, {{ house.city }}";
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1_2LQmZ65yW8ttfBbHMgsJFqmc4UlCdY&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="{% static 'houses/js/maps.js' %}"></script>
{% endblock %}

{% block extra_title %} - House Info{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">{{ house.address }}, {{ house.city }}</h1>
                </div>
            </div>
            <!-- A carrousel to the display the photo's on smaller screens -->
            <div class="row d-lg-none">
                <div class="col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if house.photo_1 %}
                                    <img src="{{ house.photo_1.url }}" class="d-block w-100" alt="{{ house.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_photo.jpg" class="d-block w-100" alt="no photo">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if house.photo_2 %}
                                    <img src="{{ house.photo_2.url }}" class="d-block w-100" alt="{{ house.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_photo.jpg" class="d-block w-100" alt="no photo">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if house.photo_3 %}
                                    <img src="{{ house.photo_3.url }}" class="d-block w-100" alt="{{ house.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_photo.jpg" class="d-block w-100" alt="no photo">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if house.photo_4 %}
                                    <img src="{{ house.photo_4.url }}" class="d-block w-100" alt="{{ house.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_photo.jpg" class="d-block w-100" alt="no photo">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if house.photo_5 %}
                                    <img src="{{ house.photo_5.url }}" class="d-block w-100" alt="{{ house.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_photo.jpg" class="d-block w-100" alt="no photo">
                                {% endif %}
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Display the photo's next to each other on bigger screens -->
            <div class="row d-none d-lg-flex">
                <div class="col-6">
                    {% if house.photo_1 %}
                        <a href="{{ house.photo_1.url }}" target="_blank">
                            <img class="img-fluid house-photo" src="{{ house.photo_1.url }}" alt="{{ house.name }}">
                        </a>
                    {% else %}
                        <a href="{{ MEDIA_URL }}no_photo.jpg" target="_blank">
                            <img class="img-fluid house-photo" src="{{ MEDIA_URL }}no_photo.jpg" alt="no photo">
                        </a>
                    {% endif %}
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            {% if house.photo_2 %}
                                <a href="{{ house.photo_2.url }}" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ house.photo_2.url }}" alt="{{ house.name }}">
                                </a>
                            {% else %}
                                <a href="{{ MEDIA_URL }}no_photo.jpg" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ MEDIA_URL }}no_photo.jpg" alt="no photo">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            {% if house.photo_3 %}
                                <a href="{{ house.photo_3.url }}" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ house.photo_3.url }}" alt="{{ house.name }}">
                                </a>
                            {% else %}
                                <a href="{{ MEDIA_URL }}no_photo.jpg" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ MEDIA_URL }}no_photo.jpg" alt="no photo">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            {% if house.photo_4 %}
                                <a href="{{ house.photo_4.url }}" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ house.photo_4.url }}" alt="{{ house.name }}">
                                </a>
                            {% else %}
                                <a href="{{ MEDIA_URL }}no_photo.jpg" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ MEDIA_URL }}no_photo.jpg" alt="no photo">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            {% if house.photo_5 %}
                                <a href="{{ house.photo_5.url }}" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ house.photo_5.url }}" alt="{{ house.name }}">
                                </a>
                            {% else %}
                                <a href="{{ MEDIA_URL }}no_photo.jpg" target="_blank">
                                    <img class="img-fluid house-photo" src="{{ MEDIA_URL }}no_photo.jpg" alt="no photo">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section with info about the house -->
            <div class="row my-4">
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
                    <div class="house-info-container p-4">
                        <h4>Properties</h4><br>
                        <p class="mb-0">
                            <strong>Street + nr: </strong>{{ house.address }}<br>
                            <strong>Postal code: </strong>{{ house.postal_code }}<br>
                            <strong>City: </strong>{{ house.city }}<br>
                            <strong>Price: </strong>{{ house.price }}<br>
                            <strong>Type: </strong>{{ house.house_type }}<br>
                            <strong>Bedrooms: </strong>{{ house.bedrooms }}<br>
                            <strong>M2: </strong>{{ house.m2 }}<br>
                            <strong>M3: </strong>{{ house.m3 }}<br>
                            <strong>Construction year: </strong>{{ house.construction_year }}<br>
                            <strong>Energy label: </strong>{{ house.energy_label }}<br>
                            <br>
                            <!-- Buttons to edit or delete for superusers -->
                            {% if request.user.is_superuser %}
                            <a class="delete-link" data-toggle="modal" data-target="#myModal-{{house.id}}" href="{% url 'delete_house' house.id %}">Delete</a> | 
                            <a class="edit-link" href="{% url 'edit_house' house.id %}">Edit</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <!-- Google map with a marker on the address of the house -->
                <div class="col-12 col-md-6 col-lg-8">
                    <div id="map"></div>
                </div>
            </div>
            <!-- Section for the subscriptions -->
            <div class="subscribe-container my-4">
                <div class="row p-4">
                    <div class="col-6 col-md-4 d-md-flex">
                        <p class="subscribe-date"><strong>Opening date: </strong>{{ house.start_date }}</p>
                    </div>
                    <div class="col-6 col-md-4 d-md-flex mb-3 mb-md-0">
                        <p class="subscribe-date"><strong>Closing date: </strong>{{ house.end_date }}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <form class="form" action="{% url 'add_subscription' house.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn subscribe-btn rounded-0 {% if payment == 'No' or payment == 'Subscribed' %} d-none {% endif %}">Subscribe!</button>
                        </form>
                        <form class="form" action="{% url 'del_subscription' house.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn subscribe-btn rounded-0 {% if payment == 'No' or payment == 'Yes' %} d-none {% endif %}">Unsubscribe!</button>
                        </form>
                        <p class="m-auto {% if payment == 'Yes' or payment == 'Subscribed' %} d-none {% endif %}">When logged in and made payment you can subscribe here!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- When deleting a house, this modal will become visible to check if that's really what the superuser wants to do -->
    <div class="modal fade" id="myModal-{{house.id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title">Are you sure you want to delete house {{house.address}}?</h5>
                    <a href="{% url 'delete_house' house.id %}" class="btn mt-4 rounded-0 yes-btn float-right">Yes</a>
                    <a href="" class="btn mt-4 mr-2 rounded-0 no-btn float-right">No</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}