/*--------------------------------------------------Houses header*/

.houses-header {
    height: 2.5rem;
    background: #7E3A57;
    color: #FFFFFF;
    position: fixed;
    right: 0;
    left: 0;
    top: 4.5rem;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.houses-navbar-nav {
    padding: 0;
    margin: 0;
    line-height: 2.5rem;
    display: inline-block;
}

.houses-nav-item {
    list-style-type: none;
    display: inline-block;
}

.houses-nav-link {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    padding: 0 !important;
    margin-left: 1.5rem;
}

.houses-nav-link:hover {
    color: #FFFFFF;
}

.filter-btn, .close-btn:hover {
    background: #069D93;
    color: #FFFFFF;
}

.close-btn, .filter-btn:hover {
    background: #7E3A57;;
    color: #FFFFFF;
}
/*--------------------------------------------------Houses page*/

.container-houses {
    padding-top: 2.5rem;
}

.card {
    color: #000501;
    border: 1px solid #069D93;
    font-family: 'Open Sans';
}

.card:hover {
  box-shadow: 0 5px 10px 0 #7E3A57;
}

.house-link {
    color: #000501;
}

.house-link:hover {
    text-decoration: none;
    color: #000501;
}

.card-img-top, .card-body {
    border-bottom: 1px solid #069D93;
}

.card-footer {
    background-color: #069D93;
    color: #FFFFFF;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*--------------------------------------------------House_info page*/

.house-info-container {
    min-height: 100%;
    font: 'Open Sans';
    color: #000501;
    background: #EFE6E6;
}

.edit-link, .edit-link:hover {
    color: #069D93;
}

.delete-link, .delete-link:hover {
    color: #7E3A57;
}

.yes-btn, .no-btn:hover {
    background: #069D93;
    color: #FFFFFF;
}

.no-btn, .yes-btn:hover {
    background: #7E3A57;
    color: #FFFFFF;
}

.subscribe-container {
    font: 'Open Sans';
    color: #000501;
    background: #EFE6E6;
}

.subscribe-date {
    margin-bottom: auto;
    margin-top: auto;
}

.subscribe-btn {
    background: #069D93;
    color: #FFFFFF;
    height: 100%;
    float: none;
}

.subscribe-btn:hover {
    background: #7E3A57;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .subscribe-btn {
        float: right;
    }
}

#map {
    width: 100%;
    height: 27rem;
}

/* -------------------------------------------------House Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #7E3A57;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #7E3A57;
    border-color: #7E3A57;
    border-radius: 0;
}

.cancel-btn, .update-btn:hover, .add-btn:hover, .select-btn:hover {
    background: #7E3A57;
    color: #FFFFFF;
}

.update-btn, .add-btn, .select-btn, .cancel-btn:hover {
    background: #069D93;
    color: #FFFFFF;
}