/*--------------------------------------------------Profile*/

#profile-update-form .form-control {
    color: #000501;
}

#profile-update-form input::placeholder {
    color: #AAB7C4;
}

#id_country,
#id_country option:not(:first-child) {
    color: #000501;
}

#id_country option:first-child {
    color: #AAB7C4;
}

.update-info-btn {
    background: #069D93;
    color: #FFFFFF;
}

.update-info-btn:hover {
    background: #7E3A57;
    color: #FFFFFF;
}

/*--------------------------------------------------Subscriptions*/

.card-prof {
    display: none;
}

@media only screen and (min-width:992px) {
    .card-prof {
        display: block;
    }
}

.unsubscribe-btn {
    background: #069D93;
    color: #FFFFFF;
}

.unsubscribe-btn:hover {
    background: #7E3A57;
    color: #FFFFFF;
}