/*--------------------------------------------------HTML*/

html {
    height: 100%;
}

/*--------------------------------------------------Body*/

body {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.overlay {
	min-height: calc(100vh - 4.5rem);
    width: 100%;
    background: #FFFFFF;
}

/*--------------------------------------------------Header*/

header {
    height: 4.5rem;
}

.navbar {
    z-index: 1;
    height: 4.5rem;
    background: #FFFFFF;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-family: 'Poiret One';
    font-weight: 600;
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 0;
}

.nb-one {
    color: #7E3A57;
    display: inline-block;
    margin: 0;
}

.nb-one:hover {
    color: #7E3A57;
}

.nb-two {
    color: #069D93;
    display: inline-block;
    margin: 0;
}

.nb-two:hover {
    color: #069D93;
}

@media only screen and (min-width:350px) {
    .navbar-brand {
        margin-left: 1.5rem;
    }
}

.navbar-nav {
    background: #FFFFFF;
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        background: none;
        border-bottom: none;
    }
}

.nav-link {
    color: #000501;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
}

.nav-link:hover {
    background: #069D93;
    color: #FFFFFF;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        font-size: 1.1rem;
        padding: 0 !important;
        margin-right: 1.5rem;
    }

    .nav-link:hover {
        color: #7E3A57;
        background: #FFFFFF;
        border-bottom: 2px solid #069D93;
    }
}

.active {
    background: #069D93;
    color: #FFFFFF;
}

.active:hover {
    background: #069D93;
    color: #FFFFFF;
}

@media only screen and (min-width: 992px) {
    .active {
        background: #FFFFFF;
        color: #7E3A57;
        border-bottom: 2px solid #069D93;
    }

    .active:hover {
        background: #FFFFFF;
        color: #7E3A57;
        border-bottom: 2px solid #069D93;
    }
}

/*--------------------------------------------------Hamburger menu: code from md bootstrap*/
.navbar-toggler {
    margin-right: 1rem;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width:350px) {
    .navbar-toggler {
        margin-right: 1.5rem;
    }
}

#hamburger-button {
    outline: none;
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    background: #000501;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
    top: 10px;
}

.animated-icon span:nth-child(4) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon:hover span {
    background: #000501;
}

/*--------------------------------------------------Main*/

.page-title {
    font-family: 'Poiret One';
    font-weight: 600;
    font-size: 3rem;
}

/*--------------------------------------------------Homepage*/

.search-now-text {
    font-family: 'Poiret One';
    font-style: italic;
    color: #000501;
    margin: 2rem 0rem;
}

.search-now-button {
    background: #069D93;
    color: #FFFFFF;
    min-width: 175px;
    font-family: 'Open Sans';
}

.search-now-button:hover {
    background: #7E3A57;
    color: #FFFFFF;
}

@media only screen and (min-width:768px) {
    .search-now-text {
        font-size: 3.2rem;
        margin: 4rem 0rem;
    }

    .search-now-button {
        font-size: 1.1rem;
        min-width: 215px;
    }
}

@media only screen and (min-width:992px) {
    .search-now-text {
        font-size: 3.5rem;
    }

    .search-now-button {
        font-size: 1.2rem;
        min-width: 225px;
    }
}

/*--------------------------------------------------Houses header*/

.houses-header {
    height: 2.5rem;
    background: #7E3A57;
    color: #FFFFFF;
    position: fixed;
    right: 0;
    left: 0;
    top: 4.5rem;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.houses-navbar-nav {
    padding: 0;
    margin: 0;
    line-height: 2.5rem;
    display: inline-block;
}

.houses-nav-item {
    list-style-type: none;
    display: inline-block;
}

.houses-nav-link {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    padding: 0 !important;
    margin-left: 1.5rem;
}

.houses-nav-link:hover {
    color: #FFFFFF;
}

/*--------------------------------------------------Houses page*/

.container-houses {
    padding-top: 2.5rem;
}

.card {
    color: #000501;
    border: 1px solid #069D93;
    font-family: 'Open Sans';
}

.card:hover {
  box-shadow: 0 5px 10px 0 #7E3A57;
}

.house-link:hover {
    text-decoration: none;
}

.card-img-top, .card-body {
    border-bottom: 1px solid #069D93;
}

.card-footer {
    background-color: #069D93;
    color: #FFFFFF;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*--------------------------------------------------House_info page*/

.house-info-container {
    min-height: 100%;
    font: 'Open Sans';
    color: #000501;
    background: #EFE6E6;
}

.subscribe-container {
    font: 'Open Sans';
    color: #000501;
    background: #EFE6E6;
}

.subscribe-date {
    margin-bottom: auto;
    margin-top: auto;
}

.subscribe-btn {
    background: #069D93;
    color: #FFFFFF;
    height: 100%;
    float: none;
}

.subscribe-btn:hover {
    background: #7E3A57;
    color: #FFFFFF;
}


@media (min-width: 768px) {
    .subscribe-btn {
        float: right;
    }
}

#map {
    width: 100%;
    height: 25rem;
}

/* -------------------------------------------------Media Queries */

/* Slightly larger container on sm screens */
@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}