{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="text-center page-title">Year Payment</h1>
                </div>
            </div>
            <div class="row mb-4 justify-content-center">
                <div class="col-12 col-md-7">
                    <p class="mb-4">Please fill out the form below to make a payment for one year access to subscribe to houses</p>
                    <form action="{% url 'payment' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="mb-4">
                            <legend class="fieldset-label small px-2 w-auto"><strong>Personal Details</strong></legend>
                            {{ payment_form.full_name | as_crispy_field }}
                            {{ payment_form.phone_number | as_crispy_field }}
                            {{ payment_form.email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend class="fieldset-label small px-2 w-auto"><strong>Address Details</strong></legend>
                            {{ payment_form.country | as_crispy_field }}
                            {{ payment_form.postcode | as_crispy_field }}
                            {{ payment_form.town_or_city | as_crispy_field }}
                            {{ payment_form.street_address1 | as_crispy_field }}
                            {{ payment_form.street_address2 | as_crispy_field }}
                        </fieldset>
                        <fieldset>
                            <legend class="fieldset-label small px-2 w-auto"><strong>Payment Details</strong></legend>
                            <div class="mb-3" id="card-element"></div>
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                        <div class="submit-button text-right mt-5 mb-2">
                            <button id="submit-button" class="btn payment-btn rounded-0 mb-1">
                                <span>Complete Payment</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="small text-danger my-0">
							    <span class="icon">
								    <i class="fas fa-exclamation-circle"></i>
							    </span>
							    <span>Your card will be charged <strong>€ {{ price }}</strong></span>
						    </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'payment/js/stripe_elements.js' %}"></script>
{% endblock %}